<div class="parent">
    <div class="child">
<div *ngIf="loggedIn">
<form class="form-wrapper" [formGroup]="itemForm">
    <h2 class="mat-title">Add New Item Listing</h2>
    <mat-form-field class="input">
        <input matInput placeholder="Title" formControlName="title" required>
    </mat-form-field>
    <br>
    <mat-form-field class="input">
        <input matInput placeholder="Description" formControlName="description">
    </mat-form-field>
    <br>
    <mat-form-field class="input">
        <input matInput placeholder="Location" formControlName="location">
    </mat-form-field>
    <br>
    <mat-slide-toggle formControlName="enablelocation">Display Location</mat-slide-toggle>
    <br>
    <br>
    <input class="mat-raised-button" type="file" (change)="onFileSelected($event)">
    <br>
    <br>
    <button mat-button type="submit" class="mat-raised-button mat-primary" [disabled]="!itemForm.valid" (click)='getCoordinates()'>Submit</button>
</form>
</div>
</div>
</div>

