  .navwrapper{
    border-radius: 1em;
    color: white;
    height: 70px;
  }
  .space{
    flex: 1 1 auto;
  }
  .nav-item{
    font-size: 36px;
    padding: 1em;
  }
  #userimage{
    width: 35px;
    height: 35px;
  }
  .nav-item :hover{
    color: black;
    background-color: black;
    transition: ease-in 0.2s;
  }
  
