<mat-toolbar>
  <div class="nav-left">
    <a class="nav-item logo" routerLink="/">
      <img src="https://www.thelivingcoast.org.uk/admin/resources/logos/university-of-brighton-logo2-w200.jpeg" width="30px" alt="Geo App"/> GeoLocation App
    </a>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle" (click)="toggleCollapse()" [ngClass]="{'is-active': show}">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  
  <div class="box" >
    <div *ngIf="auth.user | async; then authenticated else guest">
            <!-- template will replace this div -->
    </div>
  </div>
  
  <!-- User NOT logged in -->
  <ng-template #guest class="box">
      <div class="nav-right nav-menu" [ngClass]="{'is-active': show}">
          <a class="nav-item" routerLink="/login">
            Login
          </a>
          <a class="nav-item" routerLink="/register">
            Register
          </a>
          <a class="nav-item" routerLink="/itemlist">
            Items
          </a>
        </div>
  </ng-template>
  
  <!-- User logged in -->
  <ng-template #authenticated>
    <div class="nav-right">
      <a class="nav-item" routerLink="/itemlist">
        Items
      </a>
    <div *ngIf="auth.user | async as user">
      <img class="nav-item" [matMenuTriggerFor]="userMenu" [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=50px>
      <mat-menu #userMenu="matMenu">
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </div>
    </div>
  </ng-template>
</mat-toolbar>
