<mat-toolbar class="navwrapper" color="primary">
  <div>
    <a class="nav-text" routerLink="/">
     GeoLocation App
    </a>
  </div>
  <span class="space"></span>
          <div *ngIf="auth.user | async; then authenticated else guest"></div>
  <!-- User NOT logged in -->
  <ng-template #guest>
          <mat-icon class="nav-item" routerLink="/home">home</mat-icon>
          <mat-icon class="nav-item" [matMenuTriggerFor]="authMenu">
            account_circle
            <mat-menu #authMenu="matMenu">
              <a mat-menu-item routerLink="/login">Login</a>
              <a mat-menu-item routerLink="/register">Register</a>
            </mat-menu>
          </mat-icon>
  </ng-template>
  
  <!-- User logged in -->
  <ng-template #authenticated>
    <div *ngIf="auth.user | async as user">
      <mat-icon class="nav-item" routerLink="/home">home</mat-icon>
      <mat-icon [ngClass]="(read) ? 'nav-item' : 'unread'" routerLink="/messages">message</mat-icon>
      <mat-icon class="nav-item" routerLink="/newitem">add_circle</mat-icon>
      <mat-icon class="nav-item" [matMenuTriggerFor]="userMenu">account_circle</mat-icon>
      <mat-menu #userMenu="matMenu">
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </div>
  </ng-template>
  
</mat-toolbar>
