<div *ngIf="!(auth.user | async); else alreadyLoggedIn">
<form class="form-wrapper" [formGroup]="loginForm"  (ngSubmit)="login()">
  <h2 class="mat-title">User Login</h2>
  
  <mat-form-field class="input">
      <input matInput placeholder="Email" formControlName="email" required>
  </mat-form-field>
  <br>
  <mat-form-field class="input">
      <input matInput placeholder="Password" formControlName="password" type="password" required>
  </mat-form-field>
  <br>
  <button mat-button type="submit" class="button" [disabled]="!loginForm.valid">Login</button>
</form>
</div>
<ng-template #alreadyLoggedIn>
  <p>
    Already logged in!
  </p>
</ng-template>