<div class="wrapper">
  <div class="one">
<div *ngFor="let user of users | async" >
  <div [ngClass]="((user.secondRead == true && user.secondUser == userID) ||(user.initRead == true && user.roomInitialiser == userID)) ? 'lmao': 'read'">
    <a (click)="clearUnread(user)" routerLink="/chat/{{user.chatID}}">
  <li>{{user.roomInitialiserAlias}} - {{user.secondUserAlias}} ChatRoom</li>
  </a>
  </div>
</div>
<div *ngFor="let user of users2 | async" >
    <div [ngClass]="((user.secondRead == true && user.secondUser == userID) ||(user.initRead == true && user.roomInitialiser == userID)) ? 'lmao': 'read'">
      <a (click)="clearUnread(user)" routerLink="/chat/{{user.chatID}}">
    <li>{{user.roomInitialiserAlias}} - {{user.secondUserAlias}} ChatRoom</li>
    </a>
    </div>
  </div>
</div>
</div>