.chatInput{
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
    color: #000;
    transition: 0.1s ease-out;
    padding-left: 5px;
}

.chatInput:focus{
    background-color: #E4F1FE;
    color: #222;
    transition: 0.2s ease-in;
}

.chatButton{
    font-size: 32px;
    width: 9.8em;
    color : white;
    background-color: #00B200;
    border-radius: 10px;
    box-shadow: 5px rgba(0, 0, 0, 0.26);
    padding: 10px;
    margin-top: 15px;
}
.input{
    margin: auto;
    width: 30%;
    padding: 10px;
}
