/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

a {
    color: #1c90f3;
    font-weight: bold;
  }
  a:hover{
    color: darken(#1c90f3, 50%)
  }

.input {
    margin-bottom: 5px;
  }
.form-wrapper{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.button{
  background-color: lightblue;
}
.logo {
  font-size: 1.2em;
  font-weight: bold;
  color: #1D262F;
  
}
.logo img { 
  margin-right: 5px;
}
body{
  font-family: 'Droid Sans', serif;
}