
<div class="parent">
  <div class="child">
  <h1 class="mat-title">Search for nearby items</h1>
  <mat-form-field>
    <input class="input-postcode" matInput placeholder="INPUT POSTCODE" id="postcode">
  </mat-form-field>
  
  <mat-divider></mat-divider>
    <p>Distance: {{distance}} km</p>
    <mat-slider min="1" max="20" value="5" id="distanceslider" (input)="onDistanceChange($event)"></mat-slider>
    <br>
    <button class="mat-raised-button mat-primary" mat-icon-button (click)="search()">
        <mat-icon>search</mat-icon>
        </button>
    </div>
</div>

<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
<div *ngFor="let item of itemarray | async" (click)="onItemClick(item)">
  <mat-card>
    <a routerLink="/details/{{item.itemID}}">
      <div class="wrapper">
      <div class="title"><h2>{{item.title}}</h2></div>
    <div class="image">
        <img class="img" src="{{item.imageURL}}">
    </div>
      <div class="content">
        {{item.description}}
      </div>
      <div class="details">
        Posted by {{item.username}} on {{item.timestamp | date:'medium' }}
      </div>
    </div>
    </a>
</mat-card>
</div>


