
.wrapper {
    max-width: 940px;
    margin: 0 auto;
  }
  .wrapper > div {
    padding: 1em;
    color: #545454;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .title{
    border: 2px solid lightgrey;
    border-radius: 5px;
    background-color: azure;
    font-size: 1.5em;
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
  }
  .image{
    grid-column: 1 / 4;
    grid-row: 2 / 5;
    margin-left: auto;
    margin-right: auto;
  }
  .description{
    border: 2px solid lightgrey;
    border-radius: 5px;
    background-color: azure;
    font-size: 1.2em;
    grid-column: 1/4;
    grid-row: 5/7;
  }
  .details{
    border: 2px solid lightgrey;
    border-radius: 5px;
    background-color: azure;
    grid-column: 1/4;
    grid-row: 7/8;
    font-style: italic;
  }
  .itembutton{
    border: none;
    background-color: transparent;
    grid-column: 1/4;
    grid-row: 8/9;
    margin-left: auto;
    margin-right: auto;
  }
  .image img{
    border-radius: 30px;
    max-height: 500px;
    }
    .update-button{
      font-size: 32px;
      width: 8em;
      color : rgb(49, 46, 46);
      background-color: rgba(255, 222, 121, 0.96);
      border-radius: 10px;
      box-shadow: 5px rgba(0, 0, 0, 0.26);
    }
    .delete-button{
      font-size: 32px;
      width: 8em;
      color : white;
      background-color: red;
      border-radius: 10px;
      box-shadow: 5px rgba(0, 0, 0, 0.26);
    }
    .message-button{
      font-size: 32px;
      width: 12em;
      color : white;
      background-color: #00B200;
      border-radius: 10px;
      box-shadow: 5px rgba(0, 0, 0, 0.26);
    }
    @media only screen and (max-width: 800px) {
      .image img{
        border-radius: 30px;
        max-height: 380px;
        max-width: 300px;
        }
    }