
  
    <div *ngIf="item" class="wrapper">
      <div class="image">
          <img class="img" src="{{item.imageURL}}">
      </div>
      <div class="title">
          <h2>{{ item.title | uppercase }}</h2>
      </div>
      <div class="description">
        {{item.description}}
      </div>
      <div class="details">
          Posted by {{item.username}} on {{item.timestamp | date:'medium' }}
      </div>
      <div class="itembutton" *ngIf="(loggedIn && !personalItem) else notPersonal" >
        <button (click)="message()">Message</button>
        </div>
      
      <ng-template #notPersonal>
        <div class="itembutton" *ngIf="loggedIn && personalItem">
            <button class="mat-raised-button" (click)="openUpdateForm()"> Update </button>
            <button class="mat-raised-button" (click)="delete()"> Delete </button>
        </div>
      </ng-template>
    </div>
    
      
      
<div *ngIf="displayLocation && loggedIn && !personalItem">
    <app-google-map [itemID]="this.itemID"></app-google-map>
  </div>
